{% extends 'base.html' %}
{% block content %}
<h1 align='center'>Notes</h1>
 <ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
        <li class="list-group-item">{{note.data}}
            <button type="button" class="btn-close" onClick="deleteNote({{note.id}})"></button>
        </li>
            
    {% endfor %}
</ul>

<form method='POST'>
    <textarea class="form-control" placeholder="Leave a comment here" name="note" id="note" style="height: 100px"></textarea>
<div class="row" align='center'>
    <button type="submit" class="btn btn-primary">Add Note</button>
    <label for="formFile" class="form-label"></label>
  <input class="form-control" type="file" id="formFile">
</div>



</form>
{% endblock %}